<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bulma-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!--구글폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <style>
        .top {font-family: 'Gamja Flower', cursive;}
        
        .top .title{
            font-size: 60px;
            text-align: center;
        }
        .main .pro{
            padding: 50px 0px 50px 70px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 530px;
        }
        .main .pro .label{
            text-align: center;
            font-size: 25px;
        }
        .main.pro02{
            text-align: right;
        }
        .main .pro02 .button{
            width: 90px;
        }
        .main .nav{
            align-items: center;
            padding:40px 300px 10px;
            font-weight: bold;
            
        }
        .bottom01 {
            padding: 30px 0px 0px;
            
        }
        .bottom01 .table{
            width: 90%;
            margin: 30px 40px 0px 40px;
            text-align: center;
        }
        th{
            text-align: center;
        }
    </style>
    <script>
             function dryingrackclick() {
                $('#card-list').html("");
                changeColor()
                  $.ajax({
                     type: "GET",
                     url: "/find/dryingrack",
                     data: {},
                     success: function (response) {
                         let article = response["articles"];
                         console.log(article);
                         for (let i =0; i < article.length; i++) {
                             makeCard(article[i]['name_give'], article[i]['phone'],article[i]['canuse'],i);
                         }
                    
                     }
                 })
                }
                function curlingironclick() {
                    $('#card-list').html("");
                    changeColor()
                  $.ajax({
                     type: "GET",
                     url: "/find/curlingiron",
                     data: {},
                     success: function (response) {
                         let article = response["articles"];
                         console.log(article);
                         for (let i =0; i < article.length; i++) {
                             makeCard(article[i]['name_give'], article[i]['phone'],article[i]['canuse'],i);
                         }
                         ;
                    
                     }
                 })
                }
                function detergentclick() {
                    $('#card-list').html("");
                  $.ajax({
                     type: "GET",
                     url: "/find/detergent",
                     data: {},
                     success: function (response) {
                         let article = response["articles"];
                         console.log(article);
                         for (let i =0; i < article.length; i++) {
                             makeCard(article[i]['name_give'], article[i]['phone'],article[i]['canuse'],i);
                         }
                    
                     }
                 })
                }
                function feverclick() {
                    $('#card-list').html("");
                    changeColor()
                  $.ajax({
                     type: "GET",
                     url: "/find/fever",
                     data: {},
                     success: function (response) {
                         let article = response["articles"];
                         console.log(article);
                         for (let i =0; i < article.length; i++) {
                             makeCard(article[i]['name_give'], article[i]['phone'],article[i]['canuse'],i);
                         }
                    
                     }
                 })
                }
                function hangerclick() {
                    $('#card-list').html("");
                    changeColor()
                  $.ajax({
                     type: "GET",
                     url: "/find/hanger",
                     data: {},
                     success: function (response) {
                         let article = response["articles"];
                         console.log(article);
                         for (let i =0; i < article.length; i++) {
                             makeCard(article[i]['name_give'], article[i]['phone'],article[i]['canuse'],i);
                         }
                    
                     }
                 })
                }
                function painkillerclick() { 
                    $('#card-list').html("");
                    changeColor()
                  $.ajax({
                     type: "GET",
                     url: "/find/painkiller",
                     data: {},
                     success: function (response) {
                         let article = response["articles"];
                         console.log(article);
                         for (let i =0; i < article.length; i++) {
                             makeCard(article[i]['name_give'], article[i]['phone'],article[i]['canuse'],i);
                         }
                    
                     }
                 })
                }
            function makeCard(name, phone,use,i) {
                let temphtml = 
                `<tr id ='${i}'>
                        <td id='name'>${name}</td>
                        <td id="phone">${phone}</td>
                        <td id='use'>${use}</td>
                </tr>`
                $('#card-list').append(temphtml);
            }
            function changeColor(){
                let links = document.querySelectorAll('.nav a');
                for (let i = 0; i < links.length; i++) {
                    links[i].style.color = '';
                }
                event.target.style.color = 'gray';
            }

            function go(){
                window.location.href = '/mypage'
            }
            function logout() {
                $.removeCookie('mytoken', {path: '/'});
                alert("로그아웃 하였습니다!")
                window.location.href = '/';
            }
            function canuse() {
                let name_give =$("#name").val();
                let phone_give =$("#phone").val();
                console.log(name_give)
                console.log(phone_give)
                $.ajax({
                type: "POST",
                url: "/find/canuse",
                data: {
                    name_give:$("#name").val(),
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('대여시작!')
                        window.location.href = '/find'
                    } else {
                        alert(response['msg'])
                    }
                }
                })
            }
    </script>
</head>

<body>
    <div class="wrap">
        <div class="top">
            <section class="hero is-info">
                <div class="hero-body">
                  <p class="title">빌려주삼</p>
                </div>
            </section>
        </div>
        <div class="main">
            <div class="pro">
                <!-- 오른쪽 정렬, 한 줄로 병합하기 -->
               <label class="label">{{ user_info.name_give }}<span> 님</span></label>
               <div class="pro02">
                <a class="button is-info" onclick="go()">My page</a>
                <a class="button is-light" onclick="logout()">Log out</a>
              </div>
            </div>
            <div class="nav">
                <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs">
                    <ul>
                        <li><a onclick="dryingrackclick()">건조대</a> </li>
                        <li><a onclick="curlingironclick()">세제</a></li>
                        <li><a onclick="hangerclick()">옷걸이</a></li>
                        <li><a onclick="detergentclick()">고데기</a></li>
                        <li><a onclick="feverclick()">해열제</a></li>
                        <li><a onclick="painkillerclick()">진통제</a></li>
                    </ul>
                  </nav>
                
            </div>
        </div>
            <div class="bottom01">
                <table class="table">
                    <thead>
                    <tr>
                        <th style="text-align: center;">이름</th>
                        <th style="text-align: center;">연락처</th>
                        <th style="text-align: center;">대여가능</th>
                        <!-- <th style="text-align: center;">가능 수량</th> -->
                    </tr>
                    </thead>
                <tbody id="card-list">
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>